                <!-- Horizontal -->
                <div class="block-area" id="horizontal">
                    <div class="block-title">
                        <p class="pull-right">
                            <a href="{:url('index')}"><span class="label label-primary">返回列表</span></a>
                        </p>
                        <div class="clearfix"></div>
                    </div>
                    <form class="form-horizontal form-validation-9"" role="form" method="post" action="{:url($actionName)}">
                        <div class="form-group">
                            <label for="cat_name" class="col-md-2 control-label">商品类型名称</label>
                            <div class="col-md-10">
                                <input type="text" name="data[cat_name]" class="form-control input-sm validate[required,minSize[2],maxSize[40]]" id="cat_name" placeholder="请输入商品类型名称" value="{:isset($editData['cat_name']) ? $editData['cat_name'] : ''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="attr_group" class="col-md-2 control-label">属性分组</label>
                            <div class="col-md-10">
                                <textarea name="data[attr_group]" class="form-control input-sm" id="attr_group" placeholder="请输入属性分组">{:isset($editData['attr_group']) ? $editData['attr_group'] : ''}</textarea>
                                <div style="font-size: 13px; margin: 5px 5px 0px;">分组直接用,分隔开</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="is_enable" class="col-md-2 control-label">类型状态</label>
                            <div class="col-md-10">
                                <label class="fancy-radio radio-inline-block">
                                    <input name="data[is_enable]" value="1" type="radio" checked="checked">
                                    <span><i></i>可用</span>
                                </label>
                                <label class="fancy-radio radio-inline-block">
                                    <input name="data[is_enable]" value="0" type="radio" {:isset($editData['is_enable'])&&$editData['is_enable']!=1 ? 'checked="checked"' : ''}>
                                    <span><i></i>不可用</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="hidden" name="id" value="{$id}">
                                <button type="submit" class="btn btn-info btn-sm m-t-10">提 交</button>
                            </div>
                        </div>
                    </form>
                </div>
                
                <hr class="whiter m-t-20" />