							<!-- TABLE HOVER -->
							<div class="panel">
								<div class="panel-heading">
									<p class="panel-title pull-right">
										<a href="{:url('add')}"><span class="label label-primary">添加数据</span></a>
									</p>
                        			<div class="clearfix"></div>
								</div>
								<div class="panel-body">
									<form action="{:url('delall')}" method="post">
										<table class="table table-striped table-hover">
											<thead>
												<tr>
													<!-- <th><input type="checkbox" id="allChk"></th> -->
													<th class="col-md-1">#</th>
													<th class="col-md-2">类型名称</th>
													<th class="col-md-2">属性分组</th>
													<th class="col-md-1">属性数</th>
													<th class="col-md-1">状态</th>
													<th class="col-md-2">管理</th>
												</tr>
											</thead>
											<tbody>
												{volist name="listData" id='value'}
												<tr>
													<!-- <td><input type="checkbox" name="delId[]" class="allChkVal" value="{$value['id']}"></td> -->
													<td>{$value['id']}</td>
													<td>{$value['cat_name']}</td>
													<td>{$value['attr_group']}</td>
													<td></td>
													<td>{if condition="$value['is_enable'] eq 1"}开启{else}禁用{/if}</td>
													<td><a href="{:url('attribute/index?type_id='.$value["id"])}"><span class="label label-primary">属性列表</span></a>  <a href="{:url('edit?id='.$value["id"])}"><span class="label label-primary">编辑</span></a>  <a href="{:url('del?id='.$value["id"])}"><span class="label label-danger">删除</span></a></td>
												</tr>
												{/volist}
											</tbody>
										</table>
										<!-- <div class="form-group">
				                            <div class="col-center-block">
				                                <button type="submit" class="btn btn-info btn-sm m-t-10">批量删除</button>
				                            </div>
				                        </div> -->
									</form>
								</div>
								<div class="panel-footer">
									<!-- 分页 -->
									<div class="media text-center">
										{$listData->render()}
				                    </div>
				                    <!-- 分页结束 -->
								</div>
							</div>
							<!-- END TABLE HOVER -->