							<!-- TABLE HOVER -->
							<div class="panel">
								<div class="panel-heading">
									<p class="panel-title pull-right">
										<a href="{:url('add')}"><span class="label label-primary">添加数据</span></a>
									</p>
                        			<div class="clearfix"></div>
								</div>
								<div class="panel-body">
									<form action="{:url('delall')}" method="post">
										<table class="table table-striped table-hover">
											<thead>
												<tr>
													<th><input type="checkbox" id="allChk"></th>
													<th>#</th>
													<th>品牌名称</th>
													<th>品牌地址</th>
													<th>品牌LOGO</th>
													<th>是否显示</th>
													<th>排序</th>
													<th>管理</th>
												</tr>
											</thead>
											<tbody>
												{volist name="listData" id='value'}
												<tr>
													<td><input type="checkbox" name="delId[]" class="allChkVal" value="{$value['id']}"></td>
													<td>{$value['id']}</td>
													<td>{$value['brand_name']}</td>
													<td>{$value['site_url']}</td>
													<td>{notempty name="$value['brand_logo']"}<img src="../{$value['brand_logo']}" width="88" height="31">{/notempty}</td>
													<td>{if condition="$value['is_show'] eq 1"}是{else}否{/if}</td>
													<td>{$value['sort_order']}</td>
													<td><a href="{:url('edit?id='.$value["id"])}"><span class="label label-primary">编辑</span></a>  <a href="{:url('del?id='.$value["id"])}"><span class="label label-danger">删除</span></a></td>
												</tr>
												{/volist}
											</tbody>
										</table>
										<div class="form-group">
				                            <div class="col-center-block">
				                                <button type="submit" class="btn btn-info btn-sm m-t-10">批量删除</button>
				                            </div>
				                        </div>
									</form>
								</div>
								<div class="panel-footer">
									{$listData->render()}
								</div>
							</div>
							<!-- END TABLE HOVER -->