							<!-- TABLE HOVER -->
							<div class="panel">
								<div class="panel-heading">
									<p class="panel-title pull-right">
										<a href="{:url('add')}"><span class="label label-primary">添加数据</span></a>
									</p>
                        			<div class="clearfix"></div>
								</div>
								<div class="panel-body">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>#</th>
												<th>分类名</th>
												<th>所属分类</th>
												<th>导航栏显示</th>
												<th>排序</th>
												<th>管理</th>
											</tr>
										</thead>
										<tbody>
											<?php getCatTempList($catTree);?>
										</tbody>
									</table>
								</div>
								<div class="panel-footer">
									
									<!-- 分页 -->
									<div class="media text-center">
				                        {$catTree->render()}
				                    </div>
				                    <!-- 分页结束 -->
				                    
								</div>
							</div>
							<!-- END TABLE HOVER -->
							<?php
								function getCatTempList($list){
									foreach($list as $cat):
									$str = '';
										$str .= '<tr>';
										$str .= '<td>'.$cat['id'].'</td>';
										$str .= '<td>|-'.str_repeat('-',$cat['level']).$cat['cat_name'].'</td>';
										$str .= '<td>'.$cat['parent_name'].'</td>';
										$str .= '<td>';
										$str .= $cat['show_in_nav']==1 ? '是' : '否';
										$str .= '</td>';
										$str .= '<td>'.$cat['sort_order'].'</td>';
										$str .= '<td>';
										$str .= '<a href="'.url('goods/index?cat_id='.$cat["id"]).'"><span class="label label-primary">查看商品</span></a>  ';
										$str .= '<a href="'.url('edit?id='.$cat["id"]).'"><span class="label label-primary">编辑</span></a>  ';
										$str .= '<a href="'.url('del?id='.$cat["id"]).'"><span class="label label-danger">删除</span></a>';
										$str .= '</td>';
										$str .= '</tr>';
										echo $str;
										if(!empty($cat['children'])):
											getCatTempList($cat['children']);
										endif;
									endforeach;
								}
							?>